/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(9,32,106);
  background: linear-gradient(90deg, rgba(9,32,106,1) 0%,
   rgba(20,1,1,1) 10%, 
  rgba(0,2,8,1) 90%, rgba(9,32,106,1) 100%);
  
}

html {
  scroll-behavior: smooth;
}
.ball {
  position: fixed;
  border-radius: 100%;
  opacity: 0.1;
  
  
}
p {
  color:white;
}



#desktop-nav{
  
  background: rgb(9,32,106);
  background: linear-gradient(90deg, rgba(9,32,106,1) 0%,
   rgba(20,1,1,1) 10%, 
  rgba(0,2,8,1) 90%, rgba(9,32,106,1) 100%);;
  border-radius: 10px;

box-shadow: 0 20px 60px rgb(9,32,106)

}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}
h3{
  color: white;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}
#shimmer{
  padding: 15px;
  gap: 2rem;
  color: white;
  font-weight: 600;
 
  font-size: 1.5rem;
  
}
.nav-links {
  font-weight: bold;
 padding: 15px;
  gap: 2rem;
  list-style: none;
  font-size:18px;
  
}

a {
  
  color: white;
  font-weight: 500;
  font-family: sans-serif;
  text-decoration: none;
  text-decoration-color: white;
  box-shadow: 0 20px 60px rgb(9,32,106);
  
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.shimmer {
  font-size: 2rem;
  color: white;
  font-weight: 600;
}
.shimmer {
		text-align: center;
		color: rgba(255, 255, 255, 0.1);
		background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
		background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
		background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
		-webkit-background-size: 125px 100%;
		-moz-background-size: 125px 100%;
		background-size: 125px 100%;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
		-webkit-animation-name: shimmer;
		-moz-animation-name: shimmer;
		animation-name: shimmer;
		-webkit-animation-duration: 2s;
		-moz-animation-duration: 2s;
		animation-duration: 2s;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-color: white;
}

@-moz-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@-webkit-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@-o-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}
.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color:white;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background: rgb(9,32,106);
  background: linear-gradient(90deg, rgba(9,32,106,1) 0%,
   rgba(20,1,1,1) 10%, 
  rgba(0,2,8,1) 90%, rgba(9,32,106,1) 100%);;
  max-height: 0;
  overflow: hidden;
  box-shadow: 0 20px 60px rgb(9,32,106);
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color:white;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
  
}

.section__text {
  align-self: center;
  text-align: center;
 
}

.section__text p {
  font-weight: 600;
  color: white;
}

.section__text__p1 {
  text-align: center;
  color: white;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: white;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: white;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background: rgb(9,32,106);
  background: linear-gradient(90deg, rgba(9,32,106,1) 0%,
   rgba(20,1,1,1) 10%, 
  rgba(0,2,8,1) 90%, rgba(9,32,106,1) 100%);;
  border-radius: 2px;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  border: 1px solid white;
  box-shadow: 0 30px 60px rgb(9,32,106);
}

.btn-color-1,
.btn-color-2 {
  border:white;
  color: white;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: black;
  border: rgb(255, 255, 255) 0.1rem solid;

  color: white;
}

.btn-color-1:hover {
  background:  rgb(9,32,106);
  background: linear-gradient(90deg, rgba(9,32,106,1) 0%,
   rgba(20,1,1,1) 10%, 
  rgba(0,2,8,1) 90%, rgba(9,32,106,1) 100%);
}

.btn-color-2 {
  background:  rgb(9,32,106);
  background: linear-gradient(90deg, rgba(9,32,106,1) 0%,
   rgba(20,1,1,1) 10%, 
  rgba(0,2,8,1) 90%, rgba(9,32,106,1) 100%);
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  
  background: rgb(9,32,106);
  background: linear-gradient(90deg, rgba(9,32,106,1) 0%,
   rgba(20,1,1,1) 10%, 
  rgba(0,2,8,1) 90%, rgba(9,32,106,1) 100%);
  text-align: center;
  box-shadow: 0 30px 60px rgb(9,32,106);
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(9,32,106);
  background: linear-gradient(90deg, rgba(9,32,106,1) 0%,
   rgba(20,1,1,1) 10%, 
  rgba(0,2,8,1) 90%, rgba(9,32,106,1) 100%);
  box-shadow: 0 30px 60px rgb(9,32,106);
}
.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: white;
  border-color: rgb(163, 163, 163);
  
}



/* FOOTER SECTION */



.form {
  background: rgb(9,32,106);
  background: linear-gradient(90deg, rgba(9,32,106,1) 0%,
   rgba(20,1,1,1) 10%, 
  rgba(0,2,8,1) 90%, rgba(9,32,106,1) 100%);
  box-shadow: 0 30px 60px rgb(9,32,106);
  border-radius: 5px;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0;
  right: 0;
  position:absolute;
 
/*   z-index: 1; */
  animation: bounce 1.5s infinite;
}
::-webkit-input-placeholder {
  font-size: 1.3em;
}

.termsConditions{
  margin: 0 auto 5px 80px;
}

.pageTitle{
  font-size: 2em;
  font-weight: bold;
}
.secondaryTitle{
  color: grey;
}

.name {
  background: rgb(9,32,106);
  background: linear-gradient(90deg, rgba(9,32,106,1) 0%,
   rgba(20,1,1,1) 10%, 
  rgba(0,2,8,1) 90%, rgba(9,32,106,1) 100%);
  color: white;
}
.name:hover {
  border-bottom: 5px solid rgb(9,32,106);
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.email {
  background: rgb(9,32,106);
  background: linear-gradient(90deg, rgba(9,32,106,1) 0%,
   rgba(20,1,1,1) 10%, 
  rgba(0,2,8,1) 90%, rgba(9,32,106,1) 100%);
  height: 2em;
  color: white;
}

.email:hover {
  border-bottom: 5px solid rgb(9,32,106);
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.message {
  background: rgb(9,32,106);
  background: linear-gradient(90deg, rgba(9,32,106,1) 0%,
   rgba(20,1,1,1) 10%, 
  rgba(0,2,8,1) 90%, rgba(9,32,106,1) 100%);
  overflow: hidden;
  height: 10rem;
  color: white;
  
}

.message:hover {
  border-bottom: 5px solid rgb(9,32,106);
  height: 12em;
  width: 380px;
  transition: ease 0.5s;
}

.formEntry {
  display: block;
  margin: 30px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease 0s;
}

.submit {
  width: 200px;
  color: white;
 background: rgb(9,32,106);
  background: linear-gradient(90deg, rgba(9,32,106,1) 0%,
   rgba(9,32,106,1) 100%);
  font-size: 20px;
}
.submit:hover{
border-bottom: 5px solid white;
  height: 2em;
  width: 38px;
  transition: ease 0.5s;
}


@keyframes bounce {
  0% {
    tranform: translate(0, 4px);
  }
  50% {
    transform: translate(0, 8px);
  }
} 

